* {
    box-sizing: border-box;
  }
  

body{

    background-color: #172B37;

   
    margin:0;
    background-size:auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;


}

nav{

overflow: hidden;


padding-left: 35px;

display: flex;
flex-direction: row;
gap: 35px;
background-color: #343A40;

align-items: center;
color: #CED4DA;

height: 56px;



}


.logo{

    padding-top: 15px;

    font-weight: 600;

}

nav a{

    text-decoration: none;
    color: #CED4DA;

}
nav :hover{
    text-decoration: underline;
    color: rgb(136, 136, 136);
    transition: 0.2s;
}

.container-display-info{

    padding-top: 35px;
    padding-left: 90px;

}

.title{

    font-size: 24px;
    font-weight: 600; 
    color: white;

}

.container-blocks{


    justify-content: center;
    margin-right: 100px;
    padding: 20px;

    display: flex;

    gap:20px;

    
}

.alerts-block{

    opacity: 50%;

    width: 526px;
    height: 180px;
    border: 2px solid #ACACAC;

    background: linear-gradient(to top,#747474, #D3D3D3, #FFFF);
    border-radius: 2%;

    filter: drop-shadow(10px 10px 4px black);

    


}

.bell-size{

    font-size: 30px;
}

.alert-title{

    display: flex;
    align-items: center;    
    gap: 10px;


    font-size: 22px;
    font-weight: 600;
    font-style: italic; 
    font-stretch: condensed; 
    text-decoration: underline;

    margin:auto;
    padding-left: 20px;

}

.text-status-alerts{

    padding-top: 20px;


    display: flex;
    justify-content: center; 
    align-items: center;  
    font-size: 32px;

    margin:auto;



}

.ac-block{

    width: 526px;
    height: 180px;
 border: 2px solid #ACACAC;

    background: linear-gradient(to top,#747474, #D3D3D3, #FFFF);
    border-radius: 2%;

    filter: drop-shadow(10px 10px 4px black);


}



.power-size{


    font-size: 50px;
}

.ac-block button{

    background: none;
    border: none;

}



.ac-title{

    display: flex;
    align-items: center;    
    gap: 10px;


    font-size: 22px;
    font-weight: 600;
    font-style: italic; 
    font-stretch: condensed;
    text-decoration: underline;


    margin:auto;
    padding-left: 20px;


}


.buttons-ac{

    padding-top: 20px;

    display: flex;
    justify-content: center;
    align-items: center;


}




.container-blocks-status{

display: flex;
flex-direction: row;
justify-content: center;
gap:21px;

}

.mold-text-center{

    display: flex;
    align-items: center;
    justify-content: center;
    font-weight:lighter;
    font-size: 32px;
    margin-top: 20px;


}

.temperature-block{

    height: 170px;
    width: 230px;
    border: 2px solid #ACACAC;

    background: linear-gradient(to top,#747474, #D3D3D3, #FFFF);
    border-radius: 7%;

    filter: drop-shadow(10px 10px 4px black);

}

.status-ac{


    position: absolute;
    top: 39%;  
    left: 42%; 
    transform: translate(-50%, -50%);  
    font-size: 32px;
    font-stretch: condensed;
    font-weight:lighter;

    margin-top: 28px;


}

.status-power{

    position: absolute;
    top: 39%;  
    left: 72%; 
    transform: translate(-50%, -50%);  
    font-size: 32px;
    font-stretch: condensed;
    font-weight:lighter;

    margin-top: 28px;


}



.thermometer-size{

    font-size: 35px;

}

.temp-title{

    display: flex;
    align-items: center;    
    gap: 10px;


    font-size: 20px;
    font-weight: 600;
    font-style: italic; 
    font-stretch: condensed;
    text-decoration: underline;


    margin:auto;
    padding-left: 20px;

}

.umidity-block{

    height: 170px;
    width: 230px;
    border: 2px solid #ACACAC;

    background: linear-gradient(to top,#747474, #D3D3D3, #FFFF);
    border-radius: 7%;

    filter: drop-shadow(10px 10px 4px black);

}

.umi-title{

    display: flex;
    align-items: center;    
    gap: 10px;


    font-size: 20px;
    font-weight: 600;
    font-style: italic; 
    font-stretch: condensed;
    text-decoration: underline;


    margin:auto;
    padding-left: 40px;

}

.droplet-size{

    font-size: 33px;
    
}


.power-block{

    height: 170px;
    width: 230px;
 border: 2px solid #ACACAC;

    background: linear-gradient(to top,#747474, #D3D3D3, #FFFF);
    border-radius: 7%;

    filter: drop-shadow(10px 10px 4px black);

}

.pwr-title{

    display: flex;
    align-items: center;    
    gap: 10px;


    font-size: 20px;
    font-weight: 600;
    font-style: italic; 
    font-stretch: condensed;
    text-decoration: underline;


    margin:auto;
    padding-left: 40px;



}

.flash-size{

    font-size: 35px;
}

.current-block{

    height: 170px;
    width: 230px;
 border: 2px solid #ACACAC;

    background: linear-gradient(to top,#747474, #D3D3D3, #FFFF);
    border-radius: 7%;

    filter: drop-shadow(10px 10px 4px black);

}

.crt-title{

    display: flex;
    align-items: center;    
    gap: 10px;


    font-size: 20px;
    font-weight: 600;
    font-style: italic; 
    font-stretch: condensed;
    text-decoration: underline;


    margin:auto;
    padding-left: 40px;


}


.outlet-size{

    font-size: 35px;
}





